{"swagger":"2.0","info":{"description":"Provides functions to administrate the security settings of a tenant. Visit the SAP Help Portal to learn how to [rotate signing keys for access tokens](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/b279adf3ec134b2a8611a42bff1ee9d9.html) or [SAML tokens](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/052e9b4b54ce4c268422b1f2c736e47e.html). To create the client, enable the apiaccess plan. For more information, see [Access UAA Admin APIs](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/ebc9113a520e495ea5fb759b9a7929f2.html).","version":"1.0.0","title":"Security Settings"},"x-sap-api-type":"REST","x-sap-shortText":"Enables you to manage the security settings of a tenant.","host":"sandbox.api.sap.com","schemes":["https"],"x-servers":[{"url":"https://api.authentication.{Landscape}.hana.ondemand.com","description":"REST API endpoint for the security settings API of the Authorization and Trust Management service.","templates":{"Landscape":{"description":"Region host. For more information, see [Regions and API Endpoints Available for the Cloud Foundry Environment](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/350356d1dc314d3199dca15bd2ab9b0e.html#f344a57233d34199b2123b9620d0bb41.html)."}}}],"basePath":"/SCPAuthtrustmgmt/platform","tags":[{"name":"Security settings"}],"paths":{"/sap/rest/authorization/v2/securitySettings":{"get":{"tags":["Security settings"],"summary":"Returns the security settings of the current tenant.","description":"Returns the security settings of the current tenant. The settings include information about the signing key for SAML tokens and the signing key for access tokens.","operationId":"readSettings","produces":["application/json"],"responses":{"200":{"description":"OK - The API returns the security settings of the tenant.","schema":{"type":"array","items":{"$ref":"#/definitions/TenantSettingsResp"}}},"401":{"description":"Unauthorized - Your authentication credentials have been refused."},"403":{"description":"Forbidden - You don't have the authorizations required to access the resource."}},"deprecated":false},"patch":{"tags":["Security settings"],"summary":"Updates the security settings of the current tenant.","description":"Updates the security settings of the current tenant, for example the signing key for SAML token or the signing key for access tokens.","operationId":"updateSettings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Configuration of the security settings in JSON format.","required":true,"schema":{"$ref":"#/definitions/TenantSettingsReq"}}],"responses":{"200":{"description":"OK - The API updated the security settings of the tenant.","schema":{"$ref":"#/definitions/TenantSettingsResp"}},"401":{"description":"Unauthorized - Your authentication credentials have been refused."},"403":{"description":"Forbidden - You don't have the authorizations required to access the resource."}},"deprecated":false}}},"securityDefinitions":{"apiaccess":{"type":"oauth2","description":"To use this API, get the OAuth client credentials (client ID and secret) with either the cockpit or command-line interface. Pass these credentials to the token endpoint to get the access token.","tokenUrl":"https://{Subdomain}.authentication.{Landscape}.hana.ondemand.com/oauth/token?grant_type=client_credentials&response_type=token","flow":"application","scopes":{"uaa.resource":"Enables access to UAA resources.","xs_authorization.read":"Read authorization entities.","xs_authorization.write":"Write authorization entities.","xs_idp.read":"Read identity provider entities.","xs_idp.write":"Write identity provider entities.","xs_user.read":"Read user entities.","xs_user.write":"Write user entities."}}},"security":[{"apiaccess":["uaa.resource","xs_authorization.read","xs_authorization.write","xs_idp.read","xs_idp.write","xs_user.read","xs_user.write"]}],"definitions":{"TenantSettingsReq":{"type":"object","properties":{"iframeDomains":{"type":"string"},"tokenPolicySettings":{"$ref":"#/definitions/TokenPolicySettingsReq"},"samlConfigSettings":{"$ref":"#/definitions/SamlConfigSettingsReq"},"links":{"$ref":"#/definitions/LinksSettings"},"defaultIdp":{"type":"string","example":"sap.default","description":"The parameter displays the default identity provider (IdP) of the current tenant."},"treatUsersWithSameEmailAsSameUser":{"type":"boolean","description":"Set to false to disable the fallback at logon that if the logon ID provided in the token by the identity provider is unknown, the service attempts to log on the user with the e-mail address from the token. When false, the service attempts to create a missing user if user creation at logon is allowed. Note that before you can switch this parameter from false to true again, ensure that e-mail addresses are unique among your shadow users."},"corsDefaultOrigins":{"type":"string","example":"https://www.example.com","description":"For cross-origin resource sharing, this parameter enables you to set a comma-separated list of URLs returned in the Access-Control-Allow-Origin header. The service uses the value in the corsDefaultOrigin parameter for any requests that don't include the header string X-Requested-With. If you use wildcards, we recommend that you make your URLs as specific as possible. By using wildcards, you enable the application to access resources from multiple websites. Wildcards increase the risk of redirecting to malicious websites. The default value is .*, which allows any URL. For more information, see [Cross-Origin Resource Sharing](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) in the MDN Web Docs."},"corsXhrOrigins":{"type":"string","example":"https://www.example.com","description":"For cross-origin resource sharing, this parameter enables you to set a comma-separated list of URLs returned in the Access-Control-Allow-Origin header. The service uses the value in the corsXhrOrigin parameter for any requests that include the header string X-Requested-With. If you use wildcards, we recommend that you make your URLs as specific as possible. By using wildcards, you enable the application to access resources from multiple websites. Wildcards increase the risk of redirecting to malicious websites. The default value is .*, which allows any URL. For more information, see [Cross-Origin Resource Sharing](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) in the MDN Web Docs."}},"title":"TenantSettingsReq"},"TenantSettingsResp":{"type":"object","properties":{"iframeDomains":{"type":"string"},"tokenPolicySettings":{"$ref":"#/definitions/TokenPolicySettingsResp"},"samlConfigSettings":{"$ref":"#/definitions/SamlConfigSettingsResp"},"links":{"$ref":"#/definitions/LinksSettings"},"defaultIdp":{"type":"string","example":"sap.default","description":"The parameter displays the default identity provider (IdP) of the current tenant."},"treatUsersWithSameEmailAsSameUser":{"type":"boolean","description":"Indicates whether the fallback at logon is enabled or not that if the logon ID provided in the token of the identity provider is unknown, the service attempts to log on the user with the e-mail address from the token. When false, the service attempts to create a missing user if user creation at logon is allowed. Note that before you can switch this parameter from false to true again, ensure that e-mail addresses are unique among your shadow users."},"corsDefaultOrigins":{"type":"string","example":"https://www.example.com","description":"For cross-origin resource sharing, this parameter shows a comma-separated list of URLs returned in the Access-Control-Allow-Origin header. The service uses the value in the corsDefaultOrigin parameter for any requests that don't include the header string X-Requested-With. If you use wildcards, we recommend that you make your URLs as specific as possible. By using wildcards, you enable the application to access resources from multiple websites. Wildcards increase the risk of redirecting to malicious websites. The default value is .*, which allows any URL. For more information, see [Cross-Origin Resource Sharing](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) in the MDN Web Docs."},"corsXhrOrigins":{"type":"string","example":"https://www.example.com","description":"For cross-origin resource sharing, this parameter shows a comma-separated list of URLs returned in the Access-Control-Allow-Origin header. The service uses the value in the corsXhrOrigin parameter for any requests that include the header string X-Requested-With. If you use wildcards, we recommend that you make your URLs as specific as possible. By using wildcards, you enable the application to access resources from multiple websites. Wildcards increase the risk of redirecting to malicious websites. The default value is .*, which allows any URL. For more information, see [Cross-Origin Resource Sharing](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) in the MDN Web Docs."}},"title":"TenantSettingsResp"},"TokenPolicySettingsReq":{"type":"object","properties":{"changeMode":{"type":"string","enum":["ADD","UPDATE","DELETE"],"description":"Use ADD to create a new key with the identifier keyId. Use UPDATE to make the key with the identifier keyId the active key. Use DELETE to remove the key with the identifier keyId from the list of available keys."},"keyId":{"type":"string","example":"my-new-key","description":"A key that is specified for a PATCH operation. The operation is either ADD, UPDATE, or DELETE."},"accessTokenValidity":{"type":"integer","format":"int32","description":"Time in seconds between when a access token is issued and when it expires. The value ranges from 300 seconds to 99,999,999 seconds, in other words, from 5 minutes to more than 3 years. Keep token validity as short as possible, but not less than 30 minutes. The default value is 43,200 seconds. The value `-1` means that the token uses the default setting."},"refreshTokenValidity":{"type":"integer","format":"int32","description":"Time in seconds between when a refresh token is issued and when it expires. The value ranges from 600 seconds to 99,999,999 seconds, in other words, from 10 minutes to more than 3 years. The validity of refresh tokens must be longer than the validity for access tokens. The system never issues refresh tokens if the validity is shorter. The default value is 24,192,000 seconds. The value `-1` means that the token uses the default setting."},"refreshTokenUnique":{"type":"boolean","description":"If true, the service only issues one refresh token per client_id and user_id combination."}},"title":"TokenPolicySettingsReq"},"TokenPolicySettingsResp":{"type":"object","properties":{"accessTokenValidity":{"type":"integer","format":"int32","description":"Time in seconds between when a access token is issued and when it expires. The value ranges from 300 seconds to 99,999,999 seconds, in other words, from 5 minutes to more than 3 years. Keep token validity as short as possible, but not less than 30 minutes. The default value is 43,200 seconds. The value `-1` means that the token uses the default setting."},"refreshTokenUnique":{"type":"boolean","description":"If true, the service only issues one refresh token per client_id and user_id combination."},"refreshTokenValidity":{"type":"integer","format":"int32","description":"Time in seconds between when a refresh token is issued and when it expires. The value ranges from 600 seconds to 99,999,999 seconds, in other words, from 10 minutes to more than 3 years. The validity of refresh tokens must be longer than the validity for access tokens. The system never issues refresh tokens if the validity is shorter. The default value is 24,192,000 seconds. The value `-1` means that the token uses the default setting."},"activeKeyId":{"type":"string","example":"default-jwt-key--9988843812","description":"The ID of the key to use for signing metadata and assertions."},"keyIds":{"type":"array","items":{"type":"string","example":"default-jwt-key--9988843812"}}},"title":"TokenPolicySettingsResp"},"SamlConfigSettingsReq":{"type":"object","properties":{"changeMode":{"type":"string","enum":["ADD","UPDATE","DELETE"],"description":"Use ADD to create a new key with the identifier keyId. Use UPDATE to make the key with the identifier keyId the active key. Use DELETE to remove the key with the identifier keyId from the list of available keys."},"keyId":{"type":"string","example":"my-new-key","description":"A key that is specified for a PATCH operation. The operation is either ADD, UPDATE, or DELETE."},"disableInResponseToCheck":{"type":"boolean","description":"If true, this zone doesn't validate the `InResponseToField` part of an incoming identity provider assertion."},"key":{"$ref":"#/definitions/SamlKey"}},"title":"SamlConfigSettingsReq"},"SamlConfigSettingsResp":{"type":"object","properties":{"disableInResponseToCheck":{"type":"boolean","description":"If true, this zone doesn't validate the `InResponseToField` part of an incoming identity provider assertion."},"entityID":{"type":"string","example":"https://example-tenant.authentication.eu10.hana.ondemand.com","description":"The parameter contains a globally unique name for an identity provider or a service provider."},"activeKeyId":{"type":"string","example":"default-saml-key-99999","description":"The ID of the key to be used for signing metadata and assertions."},"keys":{"$ref":"#/definitions/SamlKey"}},"title":"SamlConfigSettingsResp"},"SamlKey":{"type":"object","properties":{"default-saml-key-99999":{"type":"object","properties":{"key":{"type":"string","example":"confidential","description":"The private key of the SAML providers."},"passphrase":{"type":"string","example":"","description":"The private key password of the SAML provider. Reserved for future use."},"certificate":{"type":"string","example":"-----BEGIN CERTIFICATE-----kfsjdfnjkdsfjds...ndf8j38o-----END CERTIFICATE-----","description":"The certificate used to verify the authenticity of all communications."}}}},"title":"SamlKey"},"LinksSettings":{"type":"object","properties":{"homeRedirect":{"type":"string","description":"Overrides the home page of the service and issues a redirect to this URL when the browser requests `/` or `/home`."}},"title":"LinksSettings"}}}